In [157]:
import numpy as np 
import pandas as pd 
import networkx as nx
from sklearn.neighbors import DistanceMetric
from math import radians

df = pd.read_csv("data/bank_data.csv")
dc = df.copy()

In [158]:
dc

        id  x_coordinate  y_coordinate  money  time (hr)
0        0      2.851925      1.201712  29700   0.273403
1        1      4.150372     -2.654334   6500   0.064040
2        2     -1.494092     -1.230419  89400   0.127458
3        3      1.271326     -0.088520  96100   1.315029
4        4      2.471113     -0.592810  41100   0.164393
...    ...           ...           ...    ...        ...
9995  9995     -2.472127      4.787304   2100   0.494904
9996  9996      1.034968     -4.321240  54900   0.492866
9997  9997     -0.512720     -2.949173  32200   0.933033
9998  9998      2.626841     -3.482923   5100   0.551312
9999  9999     -3.992507      0.090112  21000   1.107299

[10000 rows x 5 columns]

In [159]:
#Greedy method - with distance

In [160]:
dc['money_and_time_ratio'] = dc['money']/ dc['time (hr)']

In [161]:
dist100near = dc['distance_to_(0,0)'] = (dc['x_coordinate']**2 + dc['y_coordinate']**2)**1/2

In [162]:
dist100near = dc.sort_values(['distance_to_(0,0)'], ascending = True)

In [163]:
dist100near[:100]

,id,x_coordinate,y_coordinate,money,time (hr),money_and_time_ratio,"distance_to_(0,0)"
4765,4765,0.038429,0.039438,12900,1.241626,10389.598126,0.001516
3936,3936,-0.000257,-0.068866,1100,0.474144,2319.971153,0.002371
8789,8789,0.084917,0.003973,93200,0.464666,200574.197761,0.003613
1212,1212,0.012560,0.094192,40100,0.290822,137885.026828,0.004515
5435,5435,-0.073901,-0.090091,36000,0.919935,39133.207960,0.006789
...,...,...,...,...,...,...,...
9690,9690,-0.539768,0.112047,400,0.814418,491.148495,0.151952
1851,1851,0.293580,0.467744,2700,1.155777,2336.091764,0.152487
9406,9406,-0.523337,0.176923,14600,1.361578,10722.848807,0.152592
9926,9926,0.409710,-0.371855,31300,0.715459,43748.162564,0.153069
9116,9116,-0.309111,-0.459108,7600,1.230316,6177.273229,0.153165

In [168]:
mp = dc.sort_values(by='money_and_time_ratio', ascending=False)
mp

,id,x_coordinate,y_coordinate,money,time (hr),money_and_time_ratio,"distance_to_(0,0)"
3613,3613,-1.950527,-1.495858,54400,0.000186,2.929603e+08,3.021073
9546,9546,-1.810721,-0.795421,75100,0.000788,9.530556e+07,1.955703
3803,3803,3.867586,0.918332,18500,0.000358,5.169381e+07,7.900776
6528,6528,-0.282937,3.224334,33900,0.000769,4.407762e+07,5.238193
9583,9583,3.393835,-2.790830,24000,0.001131,2.121396e+07,9.653426
...,...,...,...,...,...,...,...
1838,1838,-2.179862,-3.064824,100,1.486872,6.725528e+01,7.072470
8832,8832,1.934915,-4.278272,100,1.490015,6.711343e+01,11.023753
4764,4764,0.565196,1.437413,100,1.491462,6.704829e+01,1.192801
2123,2123,-3.105083,-1.135305,100,1.494467,6.691347e+01,5.465229
3456,3456,-4.569363,0.809121,100,1.499616,6.668374e+01,10.766876

In [169]:
mp.loc["helicopter"] = [10000, 0, 0, 0, 0,0, 11]
mp

,id,x_coordinate,y_coordinate,money,time (hr),money_and_time_ratio,"distance_to_(0,0)"
3613,3613,-1.950527,-1.495858,54400,0.000186,2.929603e+08,3.021073
9546,9546,-1.810721,-0.795421,75100,0.000788,9.530556e+07,1.955703
3803,3803,3.867586,0.918332,18500,0.000358,5.169381e+07,7.900776
6528,6528,-0.282937,3.224334,33900,0.000769,4.407762e+07,5.238193
9583,9583,3.393835,-2.790830,24000,0.001131,2.121396e+07,9.653426
...,...,...,...,...,...,...,...
8832,8832,1.934915,-4.278272,100,1.490015,6.711343e+01,11.023753
4764,4764,0.565196,1.437413,100,1.491462,6.704829e+01,1.192801
2123,2123,-3.105083,-1.135305,100,1.494467,6.691347e+01,5.465229
3456,3456,-4.569363,0.809121,100,1.499616,6.668374e+01,10.766876
helicopter,10000,0.000000,0.000000,0,0.000000,0.000000e+00,11.000000

In [170]:
mp100 = mp[:100]

In [171]:
Totalmoneymp = mp100['money'].sum()

In [172]:
Totalmoneymp

5012200

In [173]:
totaltime = mp100['time (hr)'].sum()

In [174]:
totaltime

1.84844811361175

In [175]:
dist = DistanceMetric.get_metric('haversine')

In [176]:
mp100[['x_coordinate','y_coordinate']].to_numpy()

array([[-1.95052692, -1.49585784],
       [-1.81072137, -0.79542122],
       [ 3.86758572,  0.91833156],
       [-0.28293671,  3.22433433],
       [ 3.39383541, -2.79083022],
       [ 3.17357739,  1.64569875],
       [-3.35297428, -0.26422988],
       [ 1.00123036,  4.44642978],
       [-0.46762485,  3.33535283],
       [ 1.96947283,  3.48800784],
       [-4.98934192, -2.05527558],
       [ 2.91373763,  2.78025325],
       [-3.47726206,  0.63109818],
       [-2.85446451, -1.53331506],
       [ 3.62890165,  4.78862439],
       [-1.65520395,  2.71874977],
       [ 0.92867278, -0.84634944],
       [-2.24035163,  1.7108545 ],
       [ 2.91051456,  2.53925328],
       [-4.94735443, -2.06150679],
       [-0.40404154, -0.43349281],
       [ 3.5818128 , -1.32687359],
       [ 0.61160646, -0.92089496],
       [-3.1182807 , -0.09149162],
       [ 3.9270899 , -1.29844921],
       [ 3.38801711,  1.18853135],
       [ 4.21386551,  2.220613  ],
       [ 0.47990867,  3.75798962],
       [-3.55038717, -3.76220742],
       [-1.58590241,  0.00966242],
       [ 2.41028058, -3.56982196],
       [ 4.15488788,  3.62552685],
       [ 4.62896063,  2.84785715],
       [-1.15835434,  3.87151038],
       [-3.27457445,  1.54548861],
       [-3.65919468,  3.1655623 ],
       [-3.29645581, -1.88801103],
       [-2.80583036, -3.19384949],
       [-0.805502  ,  4.78723684],
       [-2.28769092,  2.683756  ],
       [ 2.09738172,  2.25695009],
       [-2.77755616, -3.93757799],
       [-1.48241335, -4.35031031],
       [ 2.39304538,  3.95925759],
       [ 0.09944269,  2.17724381],
       [-3.6804348 ,  2.54756982],
       [-4.66155776, -4.20797861],
       [-2.83052252, -3.65612373],
       [-2.47799733,  3.87480367],
       [ 4.10828856,  1.50230623],
       [-2.14776828,  3.80075182],
       [-3.6810199 ,  3.14364678],
       [-0.68697599, -2.31164729],
       [ 2.32236314, -1.98821412],
       [-2.60678988, -3.43298938],
       [-0.99375325, -1.46754281],
       [-0.56563038, -0.76627686],
       [-1.60096827, -1.32938127],
       [ 2.02335831, -3.80519161],
       [ 3.54826996,  2.59192353],
       [ 2.45333228,  2.22347354],
       [-2.76166685, -0.29002304],
       [ 4.70792367,  2.08986508],
       [-0.5730957 ,  2.87282694],
       [ 2.57224097, -4.99604442],
       [-0.98486054,  2.32025334],
       [-3.16033499,  4.56201105],
       [-4.98341342, -1.51181705],
       [-0.94378652,  1.19465003],
       [-4.39611065, -4.40829637],
       [-4.74883973,  3.095799  ],
       [-1.33456118,  3.52345036],
       [ 2.39425296, -0.57356719],
       [ 2.99861914, -2.02689829],
       [ 4.90533933, -4.47372978],
       [-2.81014951, -0.99415143],
       [ 0.36657005,  0.78961934],
       [-4.18424936,  3.22351855],
       [-0.33126741,  1.58860663],
       [ 3.19319365,  4.4073125 ],
       [-3.87501842, -0.49188022],
       [-0.15766814,  1.21538718],
       [ 2.49224266, -2.52695127],
       [-4.51130658, -0.02374769],
       [-3.70480779, -2.82264594],
       [-3.02476354,  0.00601156],
       [-2.95358186,  0.44600114],
       [ 1.67062401,  1.79228782],
       [ 0.10896043,  1.95694805],
       [-2.68838645,  3.3833795 ],
       [-1.17157746, -1.36308504],
       [ 4.61924848, -3.08819508],
       [-0.03674302, -2.06304302],
       [ 0.72890438,  1.1345921 ],
       [-4.80197171,  3.2991661 ],
       [-4.87215849,  2.20842206],
       [-2.10599304,  4.57750438],
       [ 2.84556844, -0.54852413],
       [-2.7962123 , -4.02865073],
       [ 0.75712797, -4.19835416]])

In [177]:
dist.pairwise(mp100[['x_coordinate','y_coordinate']].to_numpy())

array([[0.        , 0.24759312, 1.14884284, ..., 1.63477632, 1.54247229,
        1.9758404 ],
       [0.24759312, 0.        , 0.90263478, ..., 1.63380034, 1.46439758,
        2.09475929],
       [1.14884284, 0.90263478, 0.        , ..., 1.6905324 , 1.17198061,
        2.30472149],
       ...,
       [1.63477632, 1.63380034, 1.6905324 , ..., 0.        , 2.81674528,
        0.63057025],
       [1.54247229, 1.46439758, 1.17198061, ..., 2.81674528, 0.        ,
        2.70594907],
       [1.9758404 , 2.09475929, 2.30472149, ..., 0.63057025, 2.70594907,
        0.        ]])

In [178]:
distance_matrix = pd.DataFrame(dist.pairwise(mp100[['x_coordinate','y_coordinate']].to_numpy()), columns = mp100.id.unique(), index = mp100.id.unique())

In [179]:
distance_matrix

,3613,9546,3803,6528,9583,5933,9195,4757,8550,4499,...,1372,2442,1733,8375,7764,7649,7689,9880,3297,4794
3613,0.000000,0.247593,1.148843,1.311384,1.234968,1.918542,1.645152,2.898228,1.181612,2.527577,...,0.777143,0.392394,1.852821,1.957848,2.759208,2.620061,0.180281,1.634776,1.542472,1.975840
9546,0.247593,0.000000,0.902635,1.140776,1.422625,1.721891,1.574272,2.652448,0.983169,2.774977,...,0.614445,0.309324,1.606018,2.195262,2.840951,2.742819,0.427785,1.633800,1.464398,2.094759
3803,1.148843,0.902635,0.000000,0.840618,2.031908,0.952648,1.432850,1.757417,0.644987,2.598136,...,0.641350,0.907291,0.704166,2.980187,2.230341,2.330054,1.328845,1.690532,1.171981,2.304721
6528,1.311384,1.140776,0.840618,0.000000,2.544508,1.554344,0.601757,1.629005,0.211502,2.235929,...,1.358504,1.380961,1.009711,2.142636,1.764395,1.767194,1.435989,0.849945,2.000279,1.470618
9583,1.234968,1.422625,2.031908,2.544508,0.000000,1.829305,2.542221,2.108540,2.405744,1.424366,...,1.393580,1.229611,2.365084,1.218224,1.910912,1.865010,1.109391,2.277172,1.178493,1.860660
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7649,2.620061,2.742819,2.330054,1.767194,1.865010,1.737632,1.235378,0.678808,1.964967,0.468810,...,2.879468,3.008421,1.675102,0.775394,0.142400,0.000000,2.483410,1.127349,2.075764,0.655347
7689,0.180281,0.427785,1.328845,1.435989,1.109391,2.061295,1.687212,3.064765,1.327609,2.347674,...,0.920014,0.525011,2.032941,1.782001,2.625743,2.483410,0.000000,1.625673,1.607466,1.870733
9880,1.634776,1.633800,1.690532,0.849945,2.277172,2.174226,0.287766,1.468770,1.049850,1.534228,...,2.122219,1.943120,1.635322,1.292968,1.207175,1.127349,1.625673,0.000000,2.816745,0.630570
3297,1.542472,1.464398,1.171981,2.000279,1.178493,0.672440,2.529223,1.560622,1.815910,1.763091,...,0.880177,1.171609,1.187357,2.130952,1.960024,2.075764,1.607466,2.816745,0.000000,2.705949
4794,1.975840,2.094759,2.304721,1.470618,1.860660,2.317851,0.872384,1.266346,1.676342,0.944806,...,2.695609,2.365860,1.997439,0.687692,0.785870,0.655347,1.870733,0.630570,2.705949,0.000000

In [180]:
# time = distance/speed

In [192]:
distance_matrix.loc[3613,9546]

0.24759311911219228

In [206]:
sum_ = 0
locations = list(distance_matrix.index)
for i in range(len(locations)-1):
    sum_ += (distance_matrix.loc[locations[i],locations[i+1]])
print(sum_ + 9.099710)

164.90913800338032

In [208]:
sumTotal = sum_ + 9.099710
sumTotal  #time: 5.57 hr

164.90913800338032

In [212]:
def total_time(d, s):
    t = d/s
    return t+totaltime
total_time(sumTotal, 30)

7.345419380391094

In [188]:
TotalDistance = mp100.loc[3613]

# TotalDistance = mp100.groupby(3613)
# TotalDistance.agg(np.sum)

In [190]:
mp100

,id,x_coordinate,y_coordinate,money,time (hr),money_and_time_ratio,"distance_to_(0,0)"
3613,3613,-1.950527,-1.495858,54400,0.000186,2.929603e+08,3.021073
9546,9546,-1.810721,-0.795421,75100,0.000788,9.530556e+07,1.955703
3803,3803,3.867586,0.918332,18500,0.000358,5.169381e+07,7.900776
6528,6528,-0.282937,3.224334,33900,0.000769,4.407762e+07,5.238193
9583,9583,3.393835,-2.790830,24000,0.001131,2.121396e+07,9.653426
...,...,...,...,...,...,...,...
7649,7649,-4.872158,2.208422,27500,0.020783,1.323216e+06,14.307528
7689,7689,-2.105993,4.577504,90800,0.069226,1.311637e+06,12.694377
9880,9880,2.845568,-0.548524,42200,0.032338,1.304957e+06,4.199069
3297,3297,-2.796212,-4.028651,79700,0.061625,1.293312e+06,12.024415
4794,4794,0.757128,-4.198354,22900,0.017766,1.288956e+06,9.099710

In [134]:
#LAST ROW MUST BE (0,0)!!!!!!!!!!!!!

In [122]:
dc.loc["helicopter"] = [10000, 0, 0, 0, 0,0, 10.766876]
dc.tail()

,id,x_coordinate,y_coordinate,money,time (hr),money_and_time_ratio,"distance_to_(0,0)"
9996,9996.0,1.034968,-4.321240,54900.0,0.492866,111389.317396,9.872139
9997,9997.0,-0.512720,-2.949173,32200.0,0.933033,34511.098257,4.480252
9998,9998.0,2.626841,-3.482923,5100.0,0.551312,9250.652010,9.515521
9999,9999.0,-3.992507,0.090112,21000.0,1.107299,18965.059907,7.974115
helicopter,10000.0,0.000000,0.000000,0.0,0.000000,0.000000,10.766876

In [85]:
first100 = dist100near[:100]   #change name

In [86]:
Totalmoney = first100['money'].sum()

In [87]:
Totalmoney

1559600

In [77]:
totaltime = first100['time (hr)'].sum()

In [78]:
totaltime

76.23138398809303

In [104]:
first70 = dist100near[:70]

In [105]:
Totalmoney = first70['money'].sum()

In [106]:
Totalmoney

1126500

In [107]:
totaltime = first70['time (hr)'].sum()

In [108]:
totaltime

49.50714157655891

In [ ]:
#Greedy method - money-time